## Visual Studio
.vs

###################
# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo

###############
# Directories #
###############
bin/
obj/

########
# Logs #
########
*.log

############
# Settings #
############
appsettings.json

###########
# Publish #
###########
*.pubxml.user
*.pubxml
*.publishproj

# Visual Studio user-specific project files should not be committed
*.csproj.user
